body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(63, 63, 63);
  color: rgb(227, 227, 227);
}
canvas {
  border: 0.0625em solid rgb(227, 227, 227);
}
#controls {
  position: absolute;
  top: 0.625em;
  left: 0.625em;
}
#controls2 {
  position: absolute;
  top: 1.875em;
  left: 0.625em;
}